{% extends 'templates/app.twig' %}
{%block title%}change-password{%endblock%}
{% block content %}
	<link rel="stylesheet" href="{{base_url()}}/css/form.css">
	<div class="container">
{% if errors %}
<ul class = "errors">
{% for error in errors.all() %}
	<li>{{error}}</li>
{%endfor%}
{% if not errors.all() %}
<li>{{ errors }}</li>
{% endif %}
{% endif %}
</ul>
      <form class="form-signin" action="{{path_for('changepassword.post')}}" method="post">
        <h2 class="form-signin-heading">Reset Password</h2>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="New Password" required autocomplete off autofocus>

     <label for="inputPassword" class="sr-only">Confirm Password</label>
        <input type="password" name="confirm_password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
        <input type = "hidden" name = "{{csrf_key}}" value="{{csrf_value}}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
      </form>


    </div>
{% endblock %}