{% extends 'templates/app.twig' %}
{%block title%}Forgot-password{%endblock%}
{% block content %}
	<link rel="stylesheet" href="{{base_url()}}/css/form.css">
	<div class="container">
{% if errors %}
<ul class = "errors">
{% for error in errors.all() %}
	<li>{{error}}</li>
{%endfor%}
{% if not errors.all() %}
<li>{{ errors }}</li>
{% endif %}
{% endif %}
</ul>
      <form class="form-signin" action="{{path_for('forgotpassword.post')}}" method="post">
        <h2 class="form-signin-heading">Request Password</h2>

        <label for="inputUsername" class="sr-only">Email</label>
        <input type="text" name="email" id="inputUsername" 
        {%if formdata['email'] %}value= "{{formdata['email']}}"{%endif%} 
        class="form-control" placeholder="Email" required autofocus autocomplete off >
        <input type = "hidden" name = "{{csrf_key}}" value="{{csrf_value}}">
        <br><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
    </div>
{% endblock %}